@charset "UTF-8";
*{
	padding:0;
	margin:0;
}
body,html{
	height:100%;
	width:100%;
}

#div_top{
	height:270px;
	max-width:1600px;
	min-width:1000px;
	background:lightgray;
	margin:auto;
}
#div_top #table_title{
	margin:auto;
	width:80%;
	text-align: center;
	height:120px;
	font-weight: bold;
	color:gray;
	font-size: 22px;
}

#cycle{
	border:1px solid darkgray;
	height:110px;
	width:110px;
	vertical-align:middle;
	border-radius: 50%;
	margin:auto;
	background:darkgray;
	color:white;
}
#cycle a{
	text-decoration: none;
	line-height: 100px;
	display: block;
}
#cycle #logout{
	text-decoration: none;
	line-height: 100px;
	display: block;
	margin-top:-30px;
}
#cycle a:link{
	color:white;
}
#cycle a:visited{
	color:white;
}
#cycle a:hover{
	color:lightblue;
}

#div_main{
	max-width:1400px;
	min-width:800px;
	margin:auto;
	padding-bottom:100px;
}
#div_left{
	width:40%;
	height:1000px;
	float:left;
}
#div_left #table_index{
	margin-left:120px;
	margin-top:150px;
	width:200px;
	text-align: center;
	position: fixed;
}
#div_left div{
	margin-left:50px;
	
}

#container{
	position: absolute;
	top:-800px;
}
#div_left #admin_inform{
	height:40%;
	width:80%;
	margin-left:0px;
	border:1px solid darkgreen;
	border-radius: 10px;
	margin-top:50px;
}
#div_left #calendar{
	margin-top:100px;
	width:80%
}
#div_left #calendar select{
	font-size:20px;
}
#div_left #table_index tr td{
	height:80px;
	font-size:20px;
	border:1px solid darkgreen;
	border-radius: 10px;
}
#div_right{
	width:60%;
	height:1200px;
	margin-left:40%;
}
#div_bottom{
	height:120px;
	max-width:1600px;
	min-width:1000px;
	background:lightgray;
	margin:auto;
}
#div_right div{
	margin-top:3%;
}
#div_right #div_info{
	height:30%;
	font-size: 22px;
	border:1px solid darkgreen;
	border-radius: 10px;
}
#div_right #div_info p{
	padding-top:20px;
}
#div_right #div_info #div_info_detail{
	float:right;
}
#div_right #div_info #div_info_detail a{
	text-decoration: none;
}
#div_right #div_recruitment{
	height:30%;
	border:1px solid darkgreen;
	border-radius: 10px;
}
#div_right #div_news{
	height:30%;
	border:1px solid darkgreen;
	border-radius: 10px;
}
#div_right #div_news #div_news1{
	width:50%;
	height:100%;
	float:left;
	border-right:1px solid black;
	margin-top:0px;
}
#div_right #div_news #div_news2{
	width:50%;
	height:100%;
	margin-left:50%;
	margin-top:0px;
}
#div_right #div_inform{
	height:30%;
	border:1px solid darkgreen;
	border-radius: 10px;
}
#div_right #div_resume{
	height:30%;
	border:1px solid darkgreen;
	border-radius: 10px;
}
#save{
	width:100%;
	height:100%;
	
}
#reload{
	width:100%;
	height:100%;
}
#div_myresume{
	margin-left:70px;
	padding-top:30px;
}
#resume{
	margin-left:70px;
	padding-top:100px;
}
#resume table tr td{
	font-size: 30px;
	height:50px;
	width:200px;
	text-align: center;
}	
.input{
	width:100%;
	height:100%;
}
#ul_add,#ul_query{
		display:none;
	}
#ul_add,#ul_query{
	list-style-type: none;
}	
#td_add:hover #ul_add{
		display:block;
		position: absolute;
		left:300px;
	} 

#td_query:hover #ul_query{
		display:block;
		position: absolute;
		left:1130px;
	} 
#div_left_td_add:hover #ul_add{
		display:block;
		position: absolute;
		top:200px;
	} 

#div_left_td_query:hover #ul_query{
		display:block;
		position: absolute;
		top:300px;
	} 
#addDepartment{
	margin-left:250px;
	padding-top:130px;
	font-size: 20px;
}
#addDepartment table tr td{
	width:50px;
	height:50px;
}
#addDepartment input{
	width:200px;
	height:30px;
}
#addDepartment_apply{
	float:right;
	font-size:25px;
}
#addRecruitment{
	margin-left:250px;
	padding-top:130px;
	font-size: 25px;
}
#addRecruitment table tr td{
	width:200px;
	height:50px;
}
#addRecrumentButton,#addRecruitment_apply{
	font-size:25px;
}
#addPosition{
	padding-top:100px;
	margin-left:200px;
	font-size: 24px;
}
#addPosition table tr td{
	height:50px;
}
#addPosition input{
	font-size: 24px;
}
#addPosition select{
	font-size: 24px;
}
#addEmployee{
	padding-top:100px;
	margin-left:50px;
	font-size: 24px;
}
#addEmployee table{
	height:30%;
	text-align: center;
	border-radius: 10px;
}
#addEmployee table tr td{
	height:40px;
	padding:10px;
}
#addEmployee_apply{
	font-size: 25px;
}
#addEmployee select{
	font-size: 25px;
}
#addTrain{
	padding-top:100px;
	margin-left:150px;
	font-size: 24px;
}
#addTrain table{
	height:30%;
	text-align: center;
	border-radius: 10px;
}
#addTrain table tr td{
	height:40px;
	padding:10px;
}
#addTrain_apply{
	font-size: 25px;
}
#addTrain select{
	font-size: 25px;
}
#addTrain textarea{
	height:100px;
}
#addRewardAndPunishment{
	padding-top:100px;
	margin-left:150px;
	font-size: 24px;
}
#addRewardAndPunishment .input{
	height:30px;
	width:300px;
}
#addRewardAndPunishment table{
	height:30%;
	text-align: center;
	border-radius: 10px;
	width:500px;
}
#addRewardAndPunishment table tr td{
	height:40px;
	padding:10px;
}
#addRewardAndPunishment_apply{
	font-size: 25px;
}
#addRewardAndPunishment select{
	font-size: 25px;
}
#input_employee_name{
	height:30px;
	width:100px;
}
.table_query{
	position: absolute;
	top:330px;
}
#table_queryChecking{
	position: absolute;
	top:330px;
	left:35%
}

#updateDepartment{
	margin-left:250px;
	padding-top:130px;
	font-size: 20px;
}
#updateTrain{
	margin-left:250px;
	padding-top:130px;
	font-size: 20px;
}