<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.HRSystem.dao.CheckingDao">
	
	
	<select id="queryAllCheckings" resultType="checking">
		SELECT 
			c.id id,
			e.job_number job_number,
			e.name name,
			c.realClock_in,
			c.shouldClock_in,
			c.realClock_out,
			c.shouldClock_out,
			c.status
		FROM
			checking_ins c,employees e
		WHERE
			c.employees_id = e.id
	</select>
	
	
</mapper>