<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.HRSystem.dao.PositionDao">
	
	<insert id = "insertPosition" parameterType="Position">
		INSERT INTO 
			positions(name,department_id,powerType,createTime)
		VALUES
			(#{name},#{department.id},#{powerType},#{createTime})
	</insert>
	
	
	
	<select id = "queryPositionsByDepartment" resultType="Position">
		SELECT 
			p.id id,
			p.name name,
			d.id "department.id",
			d.name "department.name"
		FROM
			positions p,departments d
		WHERE
			p.departments_id = d.id
		AND
			p.departments_id=#{department.id}
	</select>
	
	
</mapper>