<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.HRSystem.dao.PositionDao">
	
	<insert id = "insertPosition" parameterType="Position">
		INSERT INTO 
			positions(name,department_id,powerType,createTime)
		VALUES
			(#{name},#{department.id},#{powerType},#{createTime})
	</insert>
	
	<select id = "queryAllPositions" resultType="Position">
		SELECT
			p.id id,
			p.name name,
			d.name "department.name",
			p.powerType,
			p.createTime
		FROM
			positions p,departments d
		WHERE
			p.departments_id = d.id
	</select>
	
	<select id = "queryPositionsByDepartment" resultType="Position">
		SELECT 
			p.id id,
			p.name name,
			d.id "department.id",
			d.name "department.name"
		FROM
			positions p,departments d
		WHERE
			p.departments_id = d.id
		AND
			p.departments_id=#{department.id}
	</select>
	
	<delete id = "deletePosition" parameterType="int">
		DELETE FROM 
			positions
		WHERE
			id = #{id}
	</delete>
	
	<update id = "updatePosition" parameterType="Position">
		UPDATE
			positions
		SET
			departments_id=#{department.id},
			powerType=#{powerType}
		WHERE
			id=#{id}
	</update>
	
	<select id = "queryPositionById" resultType="Position">
		SELECT
			*
		FROM
			positions
		WHERE
			id = #{id}
	</select>
</mapper>